<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <body>
        <%- include('../partials/navbar') %>

        <div class="login-wrapper">
            <div class="login">
                <form method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <h1>Kayıt Ol</h1>
                    <div class="login-content">
                        <label for="name">Ad</label>
                        <input type="text" name="name">
                    </div>
                    <div class="login-content">
                        <label for="surname">Soyad</label>
                        <input type="text" name="surname">
                    </div>
                    <div class="login-content">
                        <label for="email">E-posta</label>
                        <input type="email" name="email">
                    </div>
                    <div class="login-content">
                        <label for="password">Parola</label>
                        <input type="password" name="password">
                    </div>
                    <div class="login-content">
                        <button type="submit">Kayıt Ol</button>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>