<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <body>
        <%- include('../partials/navbar') %>

        <div class="login-wrapper">
            <div class="login">
                <form method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <h1>Kod Doğrulama</h1>
                    <div class="login-content">
                        <label for="code">Doğrulama Kodu</label>
                        <input type="text" name="code">
                    </div>
                    <div class="login-content">
                        <button type="submit">Gönder</button>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>