<nav class="navbar">
    <div class="nav-left">
        <a href="/" style="font-size: xx-large;">NotNot</a>
    </div>
    <div class="nav-middle">
        <div class="searchBar">
            <form method="get" action="/notes?page=1&keyword=<%= keyword %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="text" name="keyword" class="inp-search">
                <button type="submit">ara</button>
            </form>
        </div>
    </div>
    <div class="nav-right">
        <% if (isAuth) { %>
            <a href="/logout">Çıkış</a>
            <a href="/logout"><%= name %></a>
            <% } else { %>
                <a href="/login">Giriş Yap</a>
                <a href="/register">Kayıt Ol</a>
        <% } %>
    </div>
</nav>