<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class="main-wrapper">
            <h1>Aklında Tutma </br> NotNot</br> Al.</h1>
            <p>Hemen şimdi not tutmaya başlamak için aşağıdaki buton'u kullan.</p>
            <div class="main-btn">
                <a href="/notes?page=1">Not Al</a>
            </div>
        </div>
    </div>
</body>
</html>